asgiref
autopep8
django~=3.0.8
django-extensions
pycodestyle
pytz
sqlparse
Unipath~=1.1
dj-database-url
python-decouple
gunicorn
whitenoise
django-jsonfield~=1.4.1
django-qr-code
psutil~=5.8.0
pycoingecko~=0.4.0
vitex-api
websocket
websocket-client
pycrypto
pycryptodome==3.4.3
djangorestframework
markdown
django-filter
requests~=2.25.1
stellar-sdk